<div class="panel panel-default">
    <div class="panel-heading">
        Core
    </div>
    
    <div class="list-group">
        <a class="list-group-item" href="/doc/domain.html">Domain</a>
        <a class="list-group-item" href="/doc/engine.html">ParamEngine</a>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        Repositories
    </div>

    <div class="list-group">
        <a class="list-group-item" href="/doc/repository-jdbc.html">JDBC</a>
        <a class="list-group-item" href="/doc/repository-fs.html">Filesystem</a>
        <a class="list-group-item" href="/doc/repository-classpath.html">Classpath</a>
    </div>
</div>