<div class="navbar navbar-fixed-top" bs-navbar>
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="/"><img src="/static/img/logo-small.png"/></a>
            <ul class="nav">
                <li><a href="/">What is SmartParam?</a></li>
                <li><a href="/getting-started.html">Getting started</a></li>
                <li><a href="/demo-app.html">Demo app</a></li>
            </ul>
            <ul class="nav pull-right">
                <li><a href="https://github.com/smartparam/"><i class="icon-github"></i> Repository</a></li>
                <li><a href="https://twitter.com/smartparamorg"><i class="icon-twitter"></i> @smartparamorg</a></li>
            </ul>
        </div>
    </div>
</div>
